.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.monstersH1 {
  font-family: "Modak", cursive;
  color: #456;
  text-shadow: 3px -4px 8px rgba(255, 253, 129, 0.938);
  letter-spacing: 2px;
}
